@import url('https://fonts.googleapis.com/css?family=Basic');
@import './styles/variables.scss';

a {
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Basic', sans-serif;

  .wrapper {
    padding: 150px;
  }

  .forecast {
    padding: 60px;
    background-color: #D9ECF8;
    color: white;

    .box {
      padding: 30px;
    }

    .left {
      margin-right: 10px;

      .top {
        height: 250px;
        width: 250px;
        overflow: hidden;
        margin-bottom: 10px;
        
        background: #00b7ea; /* Old browsers */
        background: -moz-linear-gradient(45deg, #00b7ea 0%, #33c0e8 70%, #009ec3 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #00b7ea 0%,#33c0e8 70%,#009ec3 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #00b7ea 0%,#33c0e8 70%,#009ec3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        .h1 {
          font-size: 40px;
        }
        .h2 {
          font-size: 30px;
        }
        .chart {
          position: absolute;
          left: 0;
          right: 0;
          top: -140px;
          // transform: scale(1, 0.7);

          path {
            transform: scale(0.62, 1);
          }

          line {
            fill: #89e5d6bd;
          }
        }
      }

      .bottom {
        height: 120px;
        background: #1f4037;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        strong {
          font-size: 25px;
        }
      }

    }

    .right {
      width: 550px;

      .h1 {
        @extend .flex;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 20px;
          margin-left: 10px;
          color: #ffffffc2;
        }
      }

      .current-date {
        color: #ffffffc2;
      }

      .city-list {
        @extend .flex-list-col;

        li a {
          cursor: pointer;
          font-size: 23px;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .forecast-day-wrapper {
        align-items: flex-end;

        .forecast-day-item {
            @extend .flex-sp-between-col;
            @extend .border-box;
            cursor: pointer;
            height: 180px;
            padding: 20px 24px;
            background-color: #346b56d1;

            -webkit-transition: all .3s ease-in-out;;
            transition: all .3s ease-in-out;

            .day-temperature {
              justify-content: center;
              font-size: 21px;
            }

            .day-icon-wrapper {
              transition: all .3s ease-in-out;
            }

            &:not(:last-child) {
              border-right: 0.7px solid transparent;
            }

            &:hover {
              background-color: #46c591de;
              height: 200px;

             .day-temperature {
              font-size: 24px;
             }
             .day-icon-wrapper {
                svg {
                 fill: #fff;
               }
              }
            }
          }
        }
      }

  }

}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flex-list {
  @extend .list-reset;
  @extend .flex;
}

.flex-list-col {
  @extend .flex-list;
  @extend .flex-col;
}

.uc {
  text-transform: uppercase;
}

.h1 {
  @extend .uc;
  font-size: 40px;
  margin: 0;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.border-box {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}

.flex-sp-between {
  @extend .flex;
  justify-content: space-between;
}

.flex-sp-between-col { @extend .flex-col; }
.flex-center-col { @extend .flex-col; }
.flex-sp-between-col { @extend .flex-col; }

.flex-center-col {
  @extend .flex-center;
  @extend .flex-col;
}

.flex-sp-between-col {
  @extend .flex-sp-between;
  @extend .flex-col;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-cover, {
  @extend .absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.absolute-b-20 {
  @extend .absolute;
  bottom: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.fs-14 {
  font-size: 13px;
}
.fs-10 {
  font-size: 10px;
}
.fs-5 {
  font-size: 5px;
}

.bg-img-cover {
  @extend .relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-overlay {
  @extend .absolute-cover;
  background-color: rgba(0, 0, 0, 0.3);
}


.path {
  stroke-dasharray: 780;
  stroke-dashoffset: 780;
  animation: dash 4s linear alternate infinite;
}

.rotate {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.rotate.down {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pop{
  50%  {
    height: 210px;
  }
}